<!-- Item este o proprietate / atribut  pentru componenta add-edit-item -->
<p style = "margin-top: 50px; padding-top: 50px;">dashboard works!</p>
<!--Atunci cand un atribut / proprietate primeste ca valoare o variabila atributul/proprietatea se pune intre [] si se asteapta sa se modifice valoarea-->
<!--Atunci cand un atribut / proprietate primeste ca valoare un text (padding: 50px;) asta inseamna un text si e valoarea atributului si inseamna ca este o valoare statica nu se va schimba-->
<app-add-edit-item [item] = "itemDashboard"></app-add-edit-item>

<!-- item aici e un atribut si isi poate schimba valoarea , si este o variabila -->
<app-list-items (onEditEvent)="onReceiveItem($event)"></app-list-items>
