<mat-card appearance="outlined">
  <mat-card-header class="margin-buttom-15 margin-buttom-100">
    <mat-card-title> Add item</mat-card-title>
    <mat-card-subtitle>Complete in all the fields below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="display-grid">
    <mat-form-field class="input-form-field">
      <mat-label>Enter the title</mat-label>
      <input matInput type="text" [(ngModel)]="title"> <!-- ne da o legatura intre variabilele din typescript si componente-->
      @if (title) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

    <mat-form-field class="input-form-field">
      <mat-label>Enter the description</mat-label>
      <input matInput type="text" [(ngModel)]="description"> <!-- ne da o legatura intre variabilele din typescript si componente-->
      @if (description) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>


    <mat-form-field class="input-form-field">
      <mat-label>Enter the price</mat-label>
      <input matInput type="text" [(ngModel)]="price"> <!-- ne da o legatura intre variabilele din typescript si componente-->
      @if (price) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="price=0">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

    <mat-form-field class="input-form-field">
      <mat-label>Enter the image URL</mat-label>
      <input matInput type="text" [(ngModel)]="imageUrl"> <!-- ne da o legatura intre variabilele din typescript si componente-->
      @if (imageUrl) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="imageUrl=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="submitForm()">{{item == null ? 'add' : 'Update'}} item</button>
  </mat-card-actions>
</mat-card>

